.cart-container {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 40px;
  max-width: 1196px;
  margin: auto;
  padding: 0 2rem 6rem;

  .product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cart-empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .amount-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--lightGray);
    border-radius: 12px;
    height: fit-content;
    gap: 12px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.address-form-section {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 40px;
  max-width: 1196px;
  margin: auto;
  padding: 0 2rem 6rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > div.form-bottom {
      grid-column: 1 / -1;
      gap: 20px;
      display: flex;
    }
  }

  .confirm-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--lightGray);
    border-radius: 12px;
    height: fit-content;
  }
}

.payement {
  max-width: 1196px;
  margin: auto;
  padding: 0 2rem 6rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.delivery-confirmed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.recommandation {
  max-width: 1196px;
  margin: auto;
  padding: 0 2rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  > h2 {
    font-size: 24px;
    font-weight: 700;
  }

  > .items-carousel {
    overflow: auto;

    .items-container {
      display: flex;
      gap: 20px;

      > app-product-card {
        flex: 0 0 300px;
      }
    }
  }
}
