<section class="cart__head">
  <h1>
    Mon panier
  </h1>
  <p>
    Retrouvez l'ensemble de vos produits dans votre panier.
  </p>
</section>

<app-breadcrumb [step]="currentStep"></app-breadcrumb>

<div class="cart-container" *ngIf="currentStep === 1">
  <section class="product-list" *ngIf="cartItems.length > 0">
    <app-item-cart
      *ngFor="let item of cartItems"
      [product]="item.product"
      [quantity]="item.quantity"
      [itemId]="item.id"
      (remove)="removeFromCart($event)"
      (quantityChange)="updateQuantity(item.id, $event)"
    >
    </app-item-cart>
  </section>
  <section class="cart-empty" *ngIf="cartItems.length === 0">
    <p>Votre panier est vide.</p>
  </section>
  <section class="amount-details">
    <ul>
      <li><span>Prix sans TVA : </span>{{ totalWithoutVAT }}&nbsp;€</li>
      <li><span>Avec TVA : </span>{{ vat }}&nbsp;€</li>
      <li><span>Total : </span>{{ total }}&nbsp;€</li>
    </ul>
    <button
      class="button"
      (click)="onConfirm()"
      [disabled]="cartItems.length === 0"
    >
      Confirmer
    </button>
  </section>
</div>

<section *ngIf="currentStep === 2" class="address-form-section">
  <form [formGroup]="deliveryForm" class="form-content">
    <app-input-field
      type="text"
      placeholder="Nom"
      formControlName="lastName"
    ></app-input-field>
    <div *ngIf="deliveryForm.get('lastName')?.touched && deliveryForm.get('lastName')?.errors?.['invalidName']" class="error">
      {{ deliveryForm.get('lastName')?.errors?.['invalidName'] }}
    </div>

    <app-input-field
      type="text"
      placeholder="Prénom"
      formControlName="firstName"
    ></app-input-field>
    <div *ngIf="deliveryForm.get('firstName')?.touched && deliveryForm.get('firstName')?.errors?.['invalidName']" class="error">
      {{ deliveryForm.get('firstName')?.errors?.['invalidName'] }}
    </div>

    <app-input-field
      type="street"
      placeholder="Rue et numéro"
      formControlName="street"
    ></app-input-field>
    <div *ngIf="deliveryForm.get('street')?.touched && deliveryForm.get('street')?.errors?.['invalidStreet']" class="error">
      {{ deliveryForm.get('street')?.errors?.['invalidStreet'] }}
    </div>

    <app-input-field
      type="zip"
      placeholder="Code postal"
      formControlName="zip"
    ></app-input-field>
    <div *ngIf="deliveryForm.get('zip')?.touched && deliveryForm.get('zip')?.errors?.['invalidZipCode']" class="error">
      {{ deliveryForm.get('zip')?.errors?.['invalidZipCode'] }}
    </div>

    <app-input-field
      type="city"
      placeholder="Ville"
      formControlName="city"
    ></app-input-field>
    <div *ngIf="deliveryForm.get('city')?.touched && deliveryForm.get('city')?.errors?.['invalidName']" class="error">
      {{ deliveryForm.get('city')?.errors?.['invalidName'] }}
    </div>
  </form>

  <section class="confirm-container">
    <button
      type="submit"
      (click)="onSubmitAdress()"
      [disabled]="deliveryForm.invalid"
      class="button"
    >
      Procéder au payement
    </button>
  </section>
</section>

<section *ngIf="currentStep === 3" class="payement">
  <p>Achat en cours... Merci de patienter.</p>
</section>

<section *ngIf="currentStep === 4" class="payement">
  <div class="delivery-confirmed">
    <p>Le livraison a bien été confirmé, merci pour votre confiance.</p>
    <span
      >Vous pouvez retrouver les détails de votre commande sur votre
      profil.</span
    >
    <button class="button" (click)="onReset()">Retour</button>
  </div>
</section>

<section class="recommandation">
  <h2>Nos <span>Nouveautés</span></h2>
  <div class="items-carousel">
    <div class="items-container">
      <app-product-card
        *ngFor="let product of recommandationsRecent"
        [product]="product"
      >
      </app-product-card>
    </div>
  </div>
</section>

<section class="recommandation" *ngIf="recommandationsLicence.length > 0">
  <h2><span>Vous</span> pourriez aimer</h2>
  <div class="items-carousel">
    <div class="items-container">
      <app-product-card
        *ngFor="let product of recommandationsLicence"
        [product]="product"
      >
      </app-product-card>
    </div>
  </div>
</section>
