.cart-container {
  display: grid;
  grid-template-columns: 1fr 400px;
  padding: 20px 90px;
  gap: 40px;

  .product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .amount-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--lightGray);
    border-radius: 12px;
    height: fit-content;
    gap: 12px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
