<header class="header">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Accueil</a
        >
      </li>
      <li>
        <a
          routerLink="/shop"
          routerLinkActive="--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Boutique</a
        >
      </li>
      <li>
        <a
          [routerLink]="isUserConnected() ? '/account' : '/auth/login'"
          routerLinkActive="--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Mon compte</a
        >
      </li>
      <li><a routerLink="/cart" [routerLinkActive]="'--active'">Panier</a></li>
      <li *ngIf="isUserConnected()" class="button-logout">
        <button (click)="logout()" class="button">
          <i class="fa-solid fa-right-from-bracket fa-lg"></i>
          Déconnexion
        </button>
      </li>
    </ul>
  </nav>
</header>
