.header {
  background-color: var(--white);
  height: 6.2rem;
  max-width: 118.8rem;
  z-index: 10;
  left: 0;
  right: 0;
  position: fixed;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1350px) {
    max-width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -77px;
    background-image: url("data:image/svg+xml,%3Csvg width='79' height='62' viewBox='0 0 79 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0C13.586 20.6667 22.6433 62 79 62V0H0Z' fill='white'/%3E%3C/svg%3E%0A");    width: 79px;
    height: 62px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -78px;
    background-image: url("data:image/svg+xml,%3Csvg width='78' height='62' viewBox='0 0 78 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 0C64.586 20.6667 55.6433 62 0 62V0H78Z' fill='white'/%3E%3C/svg%3E%0A");    width: 79px;
    height: 62px;
    background-repeat: no-repeat;
  }

  nav {
    height: 100%;
    ul {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      li {
        font-family: "Anton", sans-serif;
        text-transform: uppercase;

        a {
          text-decoration: none;
          font-size: 2.5rem;
          color: var(--darkPurple);
          position: relative;
          padding-bottom: 0.5rem;

          &::after, &.--active::after {
            content: "";
            display: block;
            width: 0;
            height: 0.5rem;
            background-color: var(--purpleLight);
            transition: width 0.2s ease-in-out;
            margin-top: 0.2rem;
          }

          &:hover {
            &::after {
              content: "";
              width: 100%;
            }
          }

          &.--active {
            &::after{
              width: 100%;
            }
          }
        }

        i {
          margin-bottom: 12px;
          cursor: pointer;
        }
      }
    }
  }
}
