<header class="header">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Accueil</a
        >
      </li>
      <li>
        <a
          routerLink="/shop"
          routerLinkActive="--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Boutique</a
        >
      </li>
      <li>
        <a
          [routerLink]="isUserConnected() ? '/account' : '/auth/login'"
          routerLinkActive="--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Mon compte</a
        >
      </li>
      <li>
        <a routerLink="/cart" [routerLinkActive]="'--active'">
          Panier
          <span class="cart-quantity">
            {{ cartItems }}
          </span>
        </a>
      </li>
      <li *ngIf="!isUserConnected()">
        <a routerLink="/auth/login" [routerLinkActive]="'active'">Connexion</a>
      </li>
      <li *ngIf="isUserConnected()" class="button-logout">
        <button (click)="logout()" class="button" title="Déconnexion">
          <i class="fa-solid fa-right-from-bracket fa-lg"></i>
        </button>
      </li>
    </ul>
  </nav>
</header>
