@font-face {
  font-family: "epson";
  src: url("../assets/fonts/epson.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ddin";
  src: url("../assets/fonts/ddin.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ddin";
  src: url("../assets/fonts/ddin-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "anton";
  src: url("../assets/fonts/anton.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
