.product-details {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10rem;
  grid-gap: 6rem;

  &__image{
    img{
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

  &__content{
    position: sticky;
    top: 7rem;
    height: fit-content;

  }

  &__licence{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
  }

  &__title{
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: "Anton", sans-serif;
    color: var(--purple);
  }

  &__price{
    font-size: 3rem;
    color: var(--purpleLight);
    font-family: "ddin", sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__description{
    font-size: 2rem;
    color: rgb(115, 115, 115);
    font-family: "ddin", sans-serif;
    margin-bottom: 2rem;
    line-height: 1.4;
    letter-spacing: -0.03rem;
  }

  &__button{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
  }

  &__accordion{
    border-top: 1px solid rgba(146,140,138,0.8);
    cursor: pointer;
    display: flex;
    appearance: none;
    list-style: none;

    summary{
      font-size: 1.8rem;
      padding: 2rem 0rem;
      font-weight: bold;
      font-family: "ddin", sans-serif;
      color: var(--purpleLight);
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::marker{
        content: "";
      }

      svg  {
        transition: all .3s ease-in-out;
        path{
          fill: var(--purpleLight);
        }
      }
    }

    &[open] summary svg{
      transform: rotate(90deg);
    }

    &[open] div{
      margin-bottom: 2rem;
    }

    div{
      color: rgb(115, 115, 115);
      font-size: 1.8rem;
      font-family: "ddin", sans-serif;
      line-height: 2;
    }
  }
}
