<div class="breadcrumb">
  <ul>
    <li>
      <span class="icon"><i class="fa-solid fa-basket-shopping fa-lg"></i></span
      ><span>Récapitulatif</span>
    </li>
  </ul>
  <ul>
    <li>
      <span class="icon"><i class="fa-solid fa-truck fa-lg"></i></span
      ><span>Livraison</span>
    </li>
  </ul>
  <ul>
    <li>
      <span class="icon"><i class="fa-solid fa-money-bill-wave fa-lg"></i></span
      ><span>Payement</span>
    </li>
  </ul>
  <ul>
    <li>
      <span class="icon"><i class="fa-solid fa-circle-check fa-lg"></i></span
      ><span>Confirmation</span>
    </li>
  </ul>
</div>
