.hero {
  height: 88vh;
  width: 100%;
  background: url("../../../assets/galaxy.png"),
    linear-gradient(90deg, #0f0b1d 0%, #391c73 56%, #1d122c 100%) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 800px;

  .hero-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 1450px;

    .athena {
      position: absolute;
      left: 50%;
      transform: translateX(-57%);
      bottom: 0;
      max-width: 100%;
      max-height: 90%;
      text-align: center;
      z-index: 2;
    }

    span {
      color: #fff;
      font-family: epson;
      font-size: 260px;
      position: absolute;

      &:first-of-type {
        top: 17%;
        left: 25%;
        z-index: 1;
      }

      &:nth-of-type(2) {
        top: 17%;
        right: 25%;
        z-index: 1;
      }

      &:nth-of-type(3) {
        bottom: 8%;
        left: 22%;
        z-index: 3;
      }

      &:last-of-type {
        bottom: 8%;
        right: 22%;
        z-index: 3;
      }
    }
  }

  .scrolling-text {
    position: absolute;
    width: 100%;
    overflow: hidden;
    bottom: -50px;
    height: 100px;
    z-index: 5;

    .text-container {
      display: flex;
      align-items: center;
      white-space: nowrap;
      animation: scroll-text 15s linear infinite;
      position: absolute;
      left: 0;

      span {
        font-size: 91px;
        color: var(--purpleLight);
        margin-right: 50px;
        font-family: "anton";
      }

      &:last-of-type {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.after-hero {
  margin-top: 12.2rem;
  display: grid;
  grid-template-columns: 53.9rem 1fr;
  grid-gap: 6.9rem;
  position: relative;
  padding-bottom: 10rem;

  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='138' height='272' viewBox='0 0 138 272' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M104.436 192.718L103.166 191.17C103.456 191.061 103.767 190.95 104.098 190.839C104.814 190.63 105.498 190.394 106.138 190.124C105.606 190.988 105.039 191.852 104.436 192.718ZM110.298 181.521C109.812 180.457 109.022 179.548 107.927 178.858C106.148 177.738 103.799 177.349 101.235 177.349C100.895 177.349 100.51 177.367 100.084 177.402L100.125 175.251C102.629 174.593 104.982 174.275 107.191 174.275C108.603 174.275 110.209 174.315 112.011 174.397C111.703 176.762 111.134 179.136 110.298 181.521ZM100.558 223.793C100.558 221.561 100.453 217.33 100.245 211.131C102.656 210.988 104.747 210.626 106.45 209.984C108.149 209.345 109.64 208.348 110.563 206.89C113.181 206.636 115.529 205.756 117.5 204.161L117.507 204.155C121.262 201.091 125.485 194.878 130.208 185.983C131.507 184.325 132.541 182.834 133.267 181.526C133.977 180.249 134.575 178.835 134.575 177.466C134.575 173.569 132.252 169.705 128.588 165.944C126.573 163.794 124.645 162.088 122.806 160.904C120.98 159.728 119.06 158.951 117.118 158.951C115.361 158.951 113.215 159.718 110.9 160.841C107.701 161.055 104.305 161.37 100.713 161.786C100.883 159.06 101.119 156.402 101.419 153.813C102.325 151.897 103.034 150.224 103.529 148.807C104.035 147.356 104.396 145.96 104.396 144.773C104.396 140.937 101.5 137.502 97.4473 134.44L97.3884 134.395L97.327 134.354C95.1402 132.896 93.1585 131.756 91.3964 130.973C89.6681 130.205 87.973 129.699 86.4102 129.699C83.8917 129.699 81.4907 130.664 79.2483 132.295L79.1816 132.343L79.1182 132.396C77.3893 133.837 75.8362 135.714 75.8362 138.023C75.8362 139.702 76.8715 141.213 77.8636 142.366C78.7808 143.433 80.022 144.595 81.543 145.848C81.631 152.234 81.8167 158.651 82.1001 165.101C76.7358 166.591 72.0174 168.676 67.9811 171.384C66.4753 169.483 65.1579 167.951 64.0362 166.811C63.3016 166.065 62.5906 165.424 61.9177 164.953C61.3399 164.549 60.3963 163.98 59.2762 163.98C58.1338 163.98 57.2223 164.53 56.6165 165.244C56.0739 165.884 55.7699 166.65 55.5799 167.323C55.1969 168.678 55.0555 170.48 55.0555 172.569C55.0555 174.122 55.1512 175.82 55.3403 177.66L55.0389 177.551C55.1173 177.128 55.1582 176.703 55.1582 176.275C55.1582 173.056 53.2498 170.061 50.4249 167.33L50.3654 167.273L50.3022 167.219C47.7671 165.074 45.0496 163.716 42.2017 163.716C40.6852 163.716 39.1161 164.441 37.6954 165.302C36.2591 166.174 34.6176 167.411 32.7859 168.971C23.82 172.876 16.7457 175.687 11.5341 177.426C10.6309 177.051 9.68456 176.819 8.71437 176.819C7.42273 176.819 6.05276 177.244 5.08366 178.441C4.19633 179.537 3.96423 180.9 3.96423 182.099C3.96423 186.061 6.86461 189.007 10.8226 191.174L10.8539 191.192L10.8856 191.208C14.9017 193.26 18.4022 194.526 21.1563 194.526C21.9837 194.526 23.0199 194.388 24.2426 194.131C19.6171 200.981 15.9964 205.68 13.3585 208.336C8.37243 210.729 6.21437 215.686 6.21437 222.072C6.21437 224.973 6.69961 227.591 8.04504 229.545C9.5064 231.668 11.7261 232.646 14.2735 232.646C15.3895 232.646 16.4674 232.175 17.3314 231.699C18.2693 231.184 19.315 230.456 20.4507 229.564C21.8831 228.438 23.5465 226.981 25.4358 225.202C26.5163 231.68 28.4274 238.641 31.1476 246.079C31.3972 248.178 31.8931 250.067 32.8145 251.511C33.8729 253.169 35.5022 254.221 37.569 254.221C40.7373 254.221 43.0976 252.401 44.6477 249.633L44.688 249.561L44.7236 249.487C46.6389 245.464 47.6136 241.304 47.6136 237.029C47.6136 233.211 47.5252 229.733 47.3468 226.597C47.1712 220.53 47.0842 216.072 47.0842 213.204C47.0842 210.386 47.197 207.291 47.4245 203.916C51.6987 198.118 54.8375 192.388 56.7796 186.729C57.2744 189.157 57.8736 191.747 58.5744 194.497L58.5954 194.579L58.622 194.66C60.7643 201.176 62.9511 206.246 65.2217 209.736C67.3985 213.081 70.1349 215.704 73.5712 215.704C76.078 215.704 78.2256 214.717 79.9433 212.959L82.0112 212.775C81.5144 220.886 81.263 227.126 81.263 231.47C81.263 243.121 82.6498 253.041 85.5082 261.155L87.216 266.003L89.9753 261.666C97.0458 250.556 100.558 237.905 100.558 223.793ZM31.8627 218.879C32.3587 218.391 32.8221 217.941 33.2537 217.529L33.1793 221.878C32.6319 221.002 32.1923 220.006 31.8627 218.879ZM22.2338 161.391L24.129 165.894C32.8857 164.263 41.044 162.174 48.5993 159.622C49.6971 160.054 50.7919 160.377 51.7317 160.377C54.2461 160.377 56.5593 159.636 58.1862 157.762C59.7542 155.955 60.3203 153.505 60.3203 150.862C60.3203 146.202 58.3795 142.127 54.7718 138.72L54.7115 138.663L54.6475 138.61C50.2754 134.999 45.6722 133.008 40.8781 133.008H40.8079L40.7378 133.012C36.6999 133.239 33.3523 133.859 30.935 135.054C28.3964 136.309 26.5979 138.386 26.5979 141.332C26.5979 143.494 27.4895 145.385 29.3524 146.602C30.8073 147.552 32.654 147.956 34.654 148.047L36.6332 149.696C32.5606 153.605 27.7648 157.504 22.2338 161.391ZM79.1933 198.081L78.3313 195.107C79.6865 195.039 81.0168 194.93 82.3219 194.777V195.002C81.2842 196.282 80.2392 197.298 79.1933 198.081ZM74.1007 179.834C75.8749 179.834 78.635 179.62 82.3219 179.214V181.185C79.4731 182.103 77.0203 183.063 75.0082 184.079C74.6095 182.652 74.1914 181.26 73.7537 179.904C73.9163 179.847 74.0312 179.834 74.1007 179.834Z' fill='%23642CD4' stroke='%23F6F6F6' stroke-width='5'/%3E%3Cpath d='M38.0659 72.0697C36.6826 74.3892 36.1279 77.3717 36.1279 80.7104C36.1279 82.7288 36.5071 84.7023 37.6777 86.2127C38.942 87.8441 40.7836 88.5049 42.7311 88.5049C43.6944 88.5049 44.9195 88.293 46.2773 87.9762C47.5321 87.6834 49.0367 87.2673 50.7812 86.7345C53.2531 87.2892 55.6183 87.9915 57.8785 88.8399C52.8058 93.6186 48.2654 96.8055 44.2564 98.5335L44.2478 98.5372C39.0842 100.786 33.4858 102.09 27.4327 102.433C26.3383 102.444 25.0733 102.694 24.0618 103.593C22.9704 104.564 22.6271 105.878 22.6271 107.05C22.6271 108.934 23.9196 110.175 25.0105 110.893C26.1575 111.647 27.6943 112.249 29.4617 112.761L29.5971 112.8L29.7361 112.824C33.401 113.449 36.3876 113.786 38.6279 113.786C45.1183 113.786 50.5059 113.115 54.6729 111.661L54.6807 111.658L54.6886 111.655C62.1034 109.013 68.6576 104.484 74.3536 98.1457C79.2267 102.374 83.3465 105.786 86.7059 108.37C90.3447 111.169 93.2659 113.137 95.3482 114.054C98.4655 115.829 101.546 116.83 104.544 116.83H104.646L104.748 116.822C107.739 116.577 110.38 115.741 112.29 113.988C114.267 112.173 115.118 109.694 115.118 106.918C115.118 105.448 114.512 103.908 113.725 102.452C112.923 100.971 111.775 99.294 110.323 97.437C105.042 88.3753 99.8882 79.9638 94.8618 72.2038L91.2444 73.6743C93.2987 70.1049 95.3949 66.2989 97.533 62.2572C112.614 63.1603 121.142 63.621 122.942 63.621C125.848 63.621 128.495 63.0008 130.434 61.3248C132.442 59.5885 133.251 57.1088 133.251 54.3706C133.251 51.1468 132.205 48.3335 129.956 46.2024L129.846 46.0984L129.724 46.0084C127.296 44.2094 125.182 42.8089 123.403 41.8472C121.724 40.9398 119.992 40.2229 118.442 40.2229C117.65 40.2229 116.855 40.4479 116.172 40.6993C115.447 40.9659 114.641 41.342 113.768 41.8017C112.155 42.6519 110.172 43.8655 107.837 45.4192L105.93 45.5059C105.966 45.1776 105.985 44.8668 105.985 44.5759C105.985 42.8538 105.026 41.236 103.958 39.8832C102.817 38.4386 101.187 36.8482 99.1415 35.1213L99.1127 35.097L99.0833 35.0736C95.934 32.5727 92.7755 30.9576 89.7193 30.9576H89.4005L89.0919 31.0376C86.617 31.6792 84.5399 32.4408 83.0266 33.3936C81.5595 34.3174 80.0718 35.7927 80.0718 37.9579C80.0718 39.4849 80.7917 40.778 81.6899 41.7959C82.2221 42.3991 82.8717 42.9703 83.6121 43.5152L82.5384 47.0717C79.1095 47.2709 75.5259 47.5585 71.788 47.934C75.3323 41.2621 78.0848 35.8383 80.0373 31.6729C81.2086 29.1742 82.1093 27.0918 82.7224 25.4452C83.2904 23.9196 83.7482 22.428 83.7482 21.2804C83.7482 17.538 81.2524 13.4352 77.4187 9.15576L77.3635 9.09417L77.3044 9.03636C75.2397 7.01752 73.2876 5.42034 71.4535 4.31483C69.6414 3.22264 67.7627 2.5 65.8943 2.5H65.7903L65.6867 2.50864C63.4234 2.69724 61.3823 3.15063 59.8365 4.08455C58.1372 5.1112 57.041 6.73987 57.041 8.83847C57.041 9.61338 57.279 10.3381 57.5214 10.9083C57.7791 11.5147 58.134 12.1563 58.5504 12.8177C59.237 13.9081 60.1741 15.1826 61.3384 16.6294C58.745 28.1963 55.1603 39.6936 50.5816 51.1221C38.7113 53.4845 25.9509 56.3137 12.3013 59.6089C11.5948 59.1171 10.9056 58.7007 10.2368 58.3759C9.27889 57.9106 8.21878 57.5621 7.12604 57.5621C5.9009 57.5621 4.59213 57.9798 3.67477 59.1417C2.84631 60.1911 2.64062 61.4773 2.64062 62.577C2.64062 65.9677 4.31368 68.8628 7.0932 71.2305L7.19694 71.3189L7.30966 71.3954C12.2211 74.7315 16.9895 76.5924 21.5534 76.5924C22.5265 76.5924 23.7996 76.3651 25.222 76.0291C26.6994 75.6801 28.5291 75.1658 30.697 74.4954C32.8074 73.8427 35.2643 73.0338 38.0659 72.0697ZM90.4945 74.9699C91.1662 78.3603 91.8382 81.9312 92.5106 85.6826C90.2548 84.35 88.1194 83.2036 86.1059 82.2482C87.5467 79.9472 89.0096 77.521 90.4945 74.9699ZM76.6319 61.9465C74.262 66.9579 71.6138 71.6293 68.6893 75.9635C64.4072 74.787 60.2863 73.9259 56.3284 73.3861C58.6887 70.0358 61.0703 66.7511 63.4732 63.5321C67.7635 62.7517 72.1495 62.2229 76.6319 61.9465Z' fill='%23642CD4' stroke='%23F6F6F6' stroke-width='5'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: -7.2rem;
    bottom: 2rem;
    width: 138px;
    height: 272px;
    background-size: cover;
    z-index: 1;

    @media screen and (max-width: 1380px) {
      background-image: url("data:image/svg+xml,%3Csvg width='93' height='183' viewBox='0 0 93 183' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M73.1793 118.095C72.9517 117.886 72.6992 117.693 72.422 117.518C71.301 116.812 69.9357 116.512 68.5227 116.427C69.5585 116.234 70.5428 116.141 71.478 116.141C72.1226 116.141 72.8325 116.154 73.6084 116.181C73.4959 116.817 73.3531 117.455 73.1793 118.095ZM54.1153 141.31L54.1447 141.307C53.8608 146.11 53.7165 149.857 53.7165 152.528C53.7165 160.18 54.6265 166.747 56.5314 172.155L58.2392 177.003L60.9986 172.666C65.7006 165.278 68.0286 156.872 68.0286 147.527C68.0286 146.161 67.969 143.671 67.852 140.083C69.1395 139.958 70.3023 139.724 71.3026 139.347C72.3966 138.935 73.4365 138.29 74.1652 137.336C75.8579 137.108 77.4117 136.492 78.7417 135.415L78.749 135.409C81.334 133.301 84.1416 129.134 87.2052 123.373C88.045 122.297 88.732 121.307 89.2266 120.417C89.7052 119.555 90.1879 118.471 90.1879 117.349C90.1879 114.467 88.4816 111.742 86.0465 109.241C84.7082 107.813 83.3995 106.649 82.1218 105.827C80.8569 105.012 79.441 104.416 77.9447 104.416C76.639 104.416 75.1474 104.954 73.6675 105.661C71.9304 105.779 70.107 105.943 68.1979 106.151C68.2959 104.801 68.4191 103.478 68.5675 102.182C69.1364 100.972 69.5908 99.8952 69.915 98.9667C70.2524 98.0005 70.529 96.9766 70.529 96.0515C70.529 93.1072 68.3249 90.6412 65.6561 88.6248L65.5972 88.5803L65.5358 88.5394C64.0872 87.5737 62.7514 86.8027 61.543 86.2656C60.3684 85.7436 59.1346 85.3604 57.9409 85.3604C56.0683 85.3604 54.3287 86.0793 52.7629 87.2181L52.6962 87.2666L52.6329 87.3194C51.4576 88.2987 50.1813 89.7454 50.1813 91.6542C50.1813 93.0872 51.0513 94.2827 51.7128 95.0518C52.2867 95.7191 53.0279 96.4248 53.9047 97.1648C53.9609 100.974 54.0704 104.801 54.233 108.645C51.2219 109.537 48.5108 110.725 46.1225 112.226C45.3306 111.251 44.6174 110.437 43.9871 109.797C43.4908 109.292 42.9856 108.833 42.4857 108.484C42.0809 108.2 41.2776 107.692 40.2652 107.692C39.2227 107.692 38.3987 108.197 37.8679 108.823C37.4003 109.375 37.1588 110.008 37.0188 110.504C36.8943 110.944 36.8068 111.437 36.748 111.969C36.2674 111.32 35.7091 110.703 35.1049 110.119L35.0454 110.062L34.9822 110.008C33.5527 108.799 31.9682 107.893 30.2577 107.612C31.2846 107.303 32.2959 106.983 33.2917 106.65C33.9651 106.896 34.6841 107.088 35.3505 107.088C37.1575 107.088 38.9401 106.551 40.2133 105.084C41.4276 103.685 41.8168 101.846 41.8168 100.018C41.8168 96.7112 40.4296 93.8363 37.9293 91.4749L37.869 91.4179L37.805 91.365C34.8478 88.9221 31.6595 87.5159 28.2802 87.5159H28.2101L28.14 87.5199C25.4708 87.6698 23.1498 88.0821 21.4169 88.9389C19.5627 89.8555 18.1064 91.4635 18.1064 93.8097C18.1064 95.48 18.8095 97.0018 20.2956 97.9723C21.3417 98.6554 22.6028 98.9489 23.8888 99.0377L24.2027 99.2993C21.743 101.587 18.8898 103.876 15.6339 106.164L17.529 110.667C20.1954 110.17 22.7786 109.608 25.2783 108.981C24.4409 109.531 23.5264 110.234 22.5429 111.067C16.9352 113.507 12.4913 115.277 9.18534 116.396C8.60254 116.187 7.97954 116.056 7.32803 116.056C6.29785 116.056 5.12395 116.4 4.28558 117.435C3.52898 118.37 3.36224 119.491 3.36224 120.366C3.36224 123.437 5.61669 125.583 8.28282 127.043L8.31409 127.06L8.34583 127.076C10.9777 128.421 13.4171 129.333 15.433 129.333C15.4933 129.333 15.5549 129.332 15.6178 129.33C13.1997 132.819 11.2774 135.267 9.83698 136.74C6.28243 138.518 4.82803 142.105 4.82803 146.406C4.82803 148.368 5.15179 150.283 6.17426 151.768C7.31266 153.422 9.04795 154.165 10.9494 154.165C11.9038 154.165 12.7665 153.768 13.3613 153.441C14.0301 153.073 14.7528 152.568 15.5118 151.971C16.1573 151.464 16.869 150.859 17.6453 150.16C18.384 153.961 19.5365 157.993 21.0887 162.249C21.2624 163.639 21.6084 164.979 22.2929 166.052C23.1206 167.348 24.4423 168.22 26.1247 168.22C28.5854 168.22 30.3767 166.785 31.4962 164.786L31.5365 164.714L31.5721 164.639C32.8722 161.909 33.5394 159.071 33.5394 156.149C33.5394 153.654 33.4817 151.376 33.3649 149.316C33.2507 145.372 33.1945 142.482 33.1945 140.629C33.1945 138.886 33.2615 136.974 33.3975 134.889C35.4804 132.038 37.1573 129.197 38.403 126.369C38.5775 127.113 38.7644 127.876 38.9636 128.658L38.9846 128.74L39.0112 128.821C40.4153 133.092 41.8677 136.478 43.4078 138.845C44.8541 141.068 46.8639 143.129 49.5773 143.129C51.3548 143.129 52.887 142.463 54.1153 141.31ZM50.8614 119.74C51.5127 119.711 52.2819 119.656 53.1642 119.577C52.4174 119.852 51.7173 120.135 51.0676 120.428C50.9997 120.197 50.931 119.967 50.8614 119.74Z' fill='%23642CD4' stroke='%23F6F6F6' stroke-width='5'/%3E%3Cpath d='M21.9055 51.1035C22.7993 50.827 23.7868 50.5082 24.8673 50.1474C24.4731 51.4296 24.3144 52.849 24.3144 54.3196C24.3144 55.7228 24.5744 57.2349 25.5066 58.4377C26.5326 59.7615 28.0165 60.2685 29.4873 60.2685C30.2199 60.2685 31.099 60.1105 31.9954 59.9013C32.783 59.7176 33.7083 59.4635 34.7634 59.1448C35.7693 59.3772 36.7461 59.648 37.6942 59.9569C34.8687 62.4826 32.3495 64.1756 30.136 65.1296L30.1274 65.1334C26.8698 66.552 23.3311 67.3793 19.4914 67.5989C18.6676 67.6104 17.6152 67.8028 16.7468 68.5747C15.7938 69.4218 15.5197 70.5515 15.5197 71.478C15.5197 73.1464 16.6661 74.1835 17.4648 74.7089C18.3195 75.2713 19.418 75.6925 20.601 76.0349L20.7364 76.0741L20.8754 76.0979C23.2792 76.5083 25.2815 76.7371 26.8144 76.7371C31.0902 76.7371 34.7091 76.2965 37.5535 75.3042L37.5614 75.3015L37.5692 75.2987C42.2994 73.6132 46.4944 70.7876 50.1563 66.8898C53.0612 69.3971 55.5452 71.4461 57.6022 73.0284C59.9471 74.8322 61.9091 76.1665 63.3704 76.8193C65.4758 78.0118 67.6182 78.7202 69.7535 78.7202H69.8558L69.9577 78.7119C72.0105 78.5436 73.9479 77.962 75.3889 76.6392C76.8972 75.2545 77.5131 73.383 77.5131 71.3917C77.5131 70.2137 77.0342 69.0546 76.5006 68.0682C75.9539 67.0575 75.1867 65.9385 74.2418 64.7259C70.8057 58.8321 67.4511 53.3578 64.1779 48.3044L62.5282 48.975C63.5678 47.1409 64.6231 45.2164 65.6939 43.202C75.1532 43.7673 80.5562 44.0586 81.7385 44.0586C83.7375 44.0586 85.7035 43.6344 87.1887 42.3506C88.7436 41.0065 89.3256 39.115 89.3256 37.1612C89.3256 34.8602 88.5718 32.785 86.9068 31.2076L86.797 31.1036L86.6755 31.0136C85.0773 29.8298 83.6632 28.8906 82.4531 28.2365C81.3434 27.6367 80.0501 27.0736 78.8069 27.0736C78.1388 27.0736 77.5068 27.2612 77.0275 27.4375C76.5067 27.6291 75.9441 27.8929 75.3564 28.2026C74.3173 28.7502 73.0661 29.513 71.618 30.4704L71.5517 30.4734C71.4504 29.1715 70.7257 28.0322 70.0559 27.1838C69.2614 26.1774 68.1496 25.0984 66.7966 23.9559L66.7679 23.9316L66.7384 23.9082C64.635 22.2378 62.3838 21.0379 60.0965 21.0379H59.7777L59.4691 21.118C57.8247 21.5443 56.3705 22.0675 55.2724 22.7588C54.9035 22.9911 54.5065 23.2885 54.1465 23.6568C54.2965 23.3435 54.4405 23.0396 54.5785 22.7452C55.3461 21.1078 55.944 19.7271 56.3553 18.6226C56.7214 17.6391 57.0782 16.53 57.0782 15.6054C57.0782 12.8166 55.2438 9.92875 52.7327 7.12569L52.6776 7.0641L52.6184 7.0063C51.2458 5.66414 49.9204 4.57448 48.6476 3.80731C47.3969 3.05347 46.0142 2.5 44.5764 2.5H44.4724L44.3688 2.50864C42.8437 2.63572 41.3562 2.94685 40.1795 3.65777C38.8494 4.46142 37.9377 5.78636 37.9377 7.50047C37.9377 8.17542 38.1431 8.77321 38.3201 9.18966C38.5124 9.64226 38.7692 10.1032 39.055 10.557C39.4712 11.218 40.0137 11.9657 40.6664 12.7919C39.0287 19.9949 36.7964 27.1583 33.9671 34.2829C26.462 35.7839 18.4173 37.5686 9.83383 39.6363C9.45452 39.3881 9.07625 39.169 8.70051 38.9865C8.01173 38.6519 7.18616 38.3688 6.29335 38.3688C5.2989 38.3688 4.16315 38.7133 3.36113 39.7292C2.64802 40.6325 2.5 41.6996 2.5 42.507C2.5 45.0365 3.75781 47.1472 5.70686 48.8075L5.81059 48.8959L5.92331 48.9724C9.2045 51.2012 12.4811 52.5084 15.6917 52.5084C16.4341 52.5084 17.3477 52.3388 18.2819 52.1181C19.2709 51.8845 20.4836 51.5432 21.9055 51.1035ZM58.9923 54.9619C59.3874 54.3221 59.785 53.6682 60.1849 53.0002C60.3644 53.9384 60.544 54.8965 60.7237 55.8746C60.134 55.5497 59.5568 55.2454 58.9923 54.9619ZM49.9423 31.946C51.0878 29.7713 52.0939 27.8157 52.9596 26.0807C52.947 26.2069 52.9405 26.3365 52.9405 26.4695C52.9405 27.7505 53.5451 28.7898 54.2125 29.5463C54.4798 29.8492 54.7822 30.1362 55.1114 30.4092L54.76 31.5731C53.2013 31.6701 51.5953 31.7945 49.9423 31.946ZM50.1282 43.0734C48.8713 45.5973 47.5015 47.9799 46.02 50.2228C43.9151 49.6637 41.8663 49.2208 39.8744 48.8963C41.072 47.2136 42.2778 45.5569 43.492 43.9261C45.6651 43.5419 47.8771 43.2575 50.1282 43.0734Z' fill='%23642CD4' stroke='%23F6F6F6' stroke-width='5'/%3E%3C/svg%3E%0A");
      width: 93px;
      height: 183px;
      left: -1rem;
      bottom: -1rem;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 17.5rem;
    grid-gap: 1.6rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;

      &:nth-child(1) {
        grid-row: 1 / 3;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.9rem;

    h2 {
      font-family: "Anton", sans-serif;
      font-size: 2.7rem;
      color: var(--purple);
      line-height: 1.2;
    }

    hr {
      width: 100%;
      border: none;
      border-top: 5px solid #d9d9d9;
      border-radius: 14px;
      fill: #d9d9d9;
    }

    p {
      font-family: "ddin", sans-serif;
      font-weight: bold;
      color: var(--text);
      letter-spacing: -0.05rem;
      font-size: 20px;
      line-height: 1.2;
    }

    button {
      margin-top: 1.8rem;
    }
  }
}

.products-list {
  background-color: var(--white);
  padding-top: 9.9rem;
  padding-bottom: 9.6rem;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h2 {
      font-family: "Anton", sans-serif;
      font-size: 4.8rem;
      color: var(--purpleLight);
      margin-bottom: 1.5rem;
      text-transform: uppercase;

      span {
        // text outline
        -webkit-text-stroke: 1px var(--purpleLight);
        color: transparent;
      }
    }

    p {
      color: var(--text);
      letter-spacing: -0.05rem;
      font-size: 2rem;
      line-height: 1.15;
      font-family: "ddin", sans-serif;
      font-weight: bold;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 3.3rem;
    padding-right: 14.2rem;
    margin-top: 7.5rem;
  }
}

.product-card {
  $and: &;
  display: grid;
  grid-template-rows: 40rem 9rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    #{$and}__img img {
      transform: scale(1.05);
    }
  }

  &__img {
    overflow: hidden;
    max-height: 400px;
    img {
      transition: all 0.175s ease-in-out;
      width: 100%;
      height: 100%;
      object-fit: cover;
      will-change: transform;
    }
  }

  &__content {
    border-top: 2px solid var(--purpleLight);
    color: var(--white);
    background-color: var(--darkPurple);
    padding: 1.2rem 1.3rem 1.6rem 1.8rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 1rem;

    &__name {
      font-family: "Anton", sans-serif;
      font-size: 1.9rem;
    }

    &__price {
      font-family: "ddin", sans-serif;
      font-size: 1.9rem;
    }
  }
}
