<section class="hero">
  <div class="hero-content-wrapper">
    <img src="assets/athena.png" alt="Hero Image" class="athena"/>

    <span #floatingText1>新</span>
    <span #floatingText2>女</span>
    <span #floatingText3>神</span>
    <span #floatingText4>像</span>
  </div>

  <app-infinite-scroll [positionClass]="'top'"></app-infinite-scroll>
  <app-infinite-scroll [positionClass]="'bottom'"></app-infinite-scroll>
</section>


<section class="after-hero container">
  <div class="after-hero__images">
    <img ngSrc="assets/home/athena-img-1.png" alt="Athena Product 1" width="1044" height="1368">
    <img ngSrc="assets/home/athena-img-2.png" alt="Athena Product 2" width="525" height="648">
    <img ngSrc="assets/home/athena-img-3.png" alt="Athena Product 3" width="525" height="672">
  </div>
  <div class="after-hero__content">
    <h2>
      Déesse de la Sagesse, Protectrice du Sanctuaire : Athéna, réincarnée dans le corps de Saori Kido.
    </h2>
    <hr>
    <p>
      Sauvée de la mort par le chevalier du sagittaire alors qu'elle n'était qu'un bébé, elle revient au sanctuaire 13
      ans plus tard, accompagnée de ses fidèles chevaliers de bronze, pour défier son agresseur, le Grand Pope.
      <br><br>
      Afin de rendre hommage à ce personnage central de la série animée, nous avons décidé de la représenter sous le
      regard bienveillant de la statue d'Athéna, dans une position confiante et sereine.
    </p>
    <button class="button">
      Découvrir la figurine
    </button>
  </div>
</section>
