<div class="hero">
  <div class="hero-content-wrapper">
    <img src="assets/athena.png" alt="Hero Image" class="athena" />

    <span #floatingText1>新</span>
    <span #floatingText2>女</span>
    <span #floatingText3>神</span>
    <span #floatingText4>像</span>
  </div>

  <app-infinite-scroll [positionClass]="'top'"></app-infinite-scroll>
  <app-infinite-scroll [positionClass]="'bottom'"></app-infinite-scroll>

  <!-- <div class="scrolling-text">
    <div class="text-container">
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
    </div>
    <div class="text-container">
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
      <span>ATHENA</span>
    </div>
  </div> -->
</div>
