<div class="item-cart">
  <img src="assets/home/athena-img-3.png" />
  <div class="item-content">
    <div class="description">
      <span>TEST</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, vero
        aliquid ad quasi cum eos voluptate perspiciatis error eveniet doloribus
        iste necessitatibus incidunt voluptates saepe reiciendis explicabo odio
        esse. Consectetur.
      </p>
    </div>
    <select class="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <div class="bottom-item">
      <span>89€</span>
      <span>Supprimer</span>
    </div>
  </div>
</div>
