<div class="item-cart">
  <img
    [src]="product.imgCover ? product.imgCover : 'assets/home/athena-img-1.png'"
    alt="{{ product.name }}"
  />
  <div class="item-content">
    <div class="description">
      <span>{{ product.name }}</span>
      <p>{{ product.subtitle }}</p>
    </div>

    <select
      class="quantity"
      [(ngModel)]="quantity"
      (ngModelChange)="onQuantityChange()"
    >
      <option *ngFor="let qty of [1, 2, 3, 4, 5]" [value]="qty">
        {{ qty }}
      </option>
    </select>

    <div class="bottom-item">
      <span class="price">{{ product.price }}€</span>
      <span (click)="removeFromCart()">Supprimer</span>
    </div>
  </div>
</div>
