<main class="account">
  <section class="account__head">
    <h1>
      Mon compte
    </h1>
    <p>
      Retrouvez l'ensemble de vos informations sur cette page.
    </p>
  </section>

  <section class="account__content container">
    <h2>
      Mes <span>Informations</span>
    </h2>

    <div class="account__content__listing">
      <div class="account__content__image">
        <img src="assets/avatar.jpg" alt="Avatar image"/>
      </div>
      <div class="account__content__infos">
        <div class="account__content__infos__item">
          <span>Nom : </span>
          <span>{{ user.firstName }}</span>
        </div>
        <div class="account__content__infos__item">
          <span>Prénom : </span>
          <span>{{ user.lastName }}</span>
        </div>
        <div class="account__content__infos__item">
          <span>Email : </span>
          <span>{{ user.email }}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="account__orders container">
    <h2>
      Mes <span>Commandes</span>
    </h2>
  </section>
</main>
