<div class="auth">
  <div class="illustration">
    <img src="assets/gohan.webp" />
  </div>

  <div class="form-container">
    <div class="toggle">
      <button
        class="toggle-btn"
        [class.active]="mode === 'login'"
        (click)="switchMode('login')"
      >
        Connexion
      </button>
      <button
        class="toggle-btn"
        [class.active]="mode === 'register'"
        (click)="switchMode('register')"
      >
        Inscription
      </button>
      <div class="slider-content">
        <div class="slider" [class.left]="mode === 'login'"></div>
      </div>
    </div>

    <form
      [formGroup]="authForm"
      (ngSubmit)="onSubmit()"
      class="form-content"
      *ngIf="mode === 'login'"
    >
      <app-input-field
        type="email"
        placeholder="Entrer votre email"
        formControlName="email"
      ></app-input-field>
      <app-input-field
        type="password"
        placeholder="Entrer votre mot de passe"
        formControlName="password"
      ></app-input-field>
      <div class="form-bottom">
        <div>
          <div class="remember-me">
            <input type="checkbox" id="remember" />
            <span>Se rappeler de moi</span>
          </div>
          <a>Mot de passe oublié ?</a>
        </div>
        <button type="submit" [disabled]="authForm.invalid" class="button">
          Se connecter
        </button>
        <p>
          Nouveau sur la plateforme ?
          <a (click)="switchMode('register')">Créer un compte</a>
        </p>
      </div>
    </form>

    <form
      [formGroup]="authForm"
      (ngSubmit)="onSubmit()"
      class="form-content"
      *ngIf="mode === 'register'"
    >
      <app-input-field
        type="email"
        placeholder="Entrer votre email"
        formControlName="email"
      ></app-input-field>
      <app-input-field
        type="password"
        placeholder="Entrer votre mot de passe"
        formControlName="password"
      ></app-input-field>
      <app-input-field
        type="password"
        placeholder="Confirmer votre mot de passe"
        formControlName="confirmPassword"
      ></app-input-field>
      <div class="form-bottom">
        <button type="submit" [disabled]="authForm.invalid" class="button">
          S'enregistrer
        </button>
        <p>
          Vous avez déjà un compte ?
          <a (click)="switchMode('login')">Se connecter</a>
        </p>
      </div>
    </form>
  </div>
</div>
