<div class="input-wrapper">
  <span class="input-icon">
    <i *ngIf="type === 'email'" class="fa fa-envelope"></i>
    <i *ngIf="type === 'password'" class="fa fa-lock"></i>
    <i *ngIf="type === 'text'" class="fa fa-pencil-alt"></i>
    <i *ngIf="type === 'date'" class="fa fa-calendar"></i>
    <i *ngIf="type === 'zip'" class="fa fa-location-dot"></i>
    <i *ngIf="type === 'street'" class="fa fa-road"></i>
    <i *ngIf="type === 'city'" class="fa fa-city"></i>
  </span>

  <input
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
    class="input-field"
  />
</div>
