<main class="shop">
  <section class="shop__head">
    <h1>Nos produits</h1>
    <p>
      Retrouvez l'ensemble de nos produits sur cette page. N'hésitez pas à
      consulter !
    </p>
  </section>

  <section class="shop__admin__actions" *ngIf="isUserAdmin">
    <button class="button" (click)="goToFormProduct()">
      + Ajouter nouveau produit
    </button>
  </section>

  <section class="shop__products">
    <div class="container">
      <div class="products__grid">
        <app-product-card
          *ngFor="let product of products"
          [product]="product"
          [onEdit]="goToFormProduct.bind(this, product.id)"
          [canEdit]="isUserAdmin"
        />
      </div>
    </div>
  </section>
</main>
