.licence-card{
  background-color: var(--purpleLight);
  border-radius: 40px;
  text-transform: uppercase;
  font-family: "ddin", sans-serif;
  padding: .5rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: .05rem;
}

