<section class="product-form">
  <h1 *ngIf="productId">Modifier le produit</h1>
  <h1 *ngIf="!productId">Créer un nouveau produit</h1>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <app-input-field
      type="text"
      placeholder="Entrer le nom du produit"
      formControlName="name"
    ></app-input-field>

    <app-input-field
      type="text"
      placeholder="Description du produit"
      formControlName="description"
    ></app-input-field>

    <app-input-field
      type="text"
      placeholder="Entrer le prix du produit"
      formControlName="price"
    ></app-input-field>

    <button class="button" type="submit" [disabled]="productForm.invalid">
      {{ productId ? "Mettre à jour" : "Créer" }}
    </button>
  </form>
</section>
