.product-form {
  max-width: 1196px;
  margin: auto;
  padding: 0 2rem 6rem;
  padding-top: 10rem;
  font-family: "ddin", sans-serif;
  font-size: 2rem;
  font-weight: bold;

  h1 {
    font-family: "Anton", sans-serif;
    font-size: 2.7rem;
    color: var(--purple);
    line-height: 1.2;
    padding-bottom: 2rem;
  }

  & > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  select{
    display: flex;
    min-width: 70px;
    color: var(--purpleLight);
    border: 1px solid var(--purpleLight);
    border-radius: 5px;
    background-color: var(--white);
    font-weight: bold;
    font-size: 1.8rem;
    font-family: "ddin", sans-serif;
    height:4rem;
  }

  input[type="checkbox"]{
    accent-color: var(--purpleLight);
    width: 2rem;
    height: 2rem;
  }

  .error{
    color: red;
    font-size: 2rem;
  }

  .select-input{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  input[type="file"]{
    display: flex;
    min-width: 70px;
    color: var(--purpleLight);
    border: 1px solid var(--purpleLight);
    border-radius: 5px;
    background-color: var(--white);
    font-weight: bold;
    font-size: 1.8rem;
    font-family: "ddin", sans-serif;
    align-items: center;
  }
}
